In [16]:
import pandas as pd

In [22]:
hash_data = "C:\\Users\\A\\EthereumNetworkHashRateGrowthRate.csv"

In [24]:
df = pd.read_csv(hash_data, names = ["Date", "Unix Date", "Hash Value"])

In [25]:
df.head()

        Date      Unix Date Hash Value
0  Date(UTC)  UnixTimeStamp      Value
1  7/30/2015     1438214400    11.5297
2  7/31/2015     1438300800    51.4594
3   8/1/2015     1438387200    57.7845
4   8/2/2015     1438473600    67.9224